body {
    /* height margin and overflow parameters added from
       other project that I worked on that was similar */
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: auto;
}

.top-container {
    background-color: #1F2937;
    color: white;
}

.third-container {
    background-color: #E5E7EB;
}

footer {
    margin-top: auto;
}